Value Filldown bride_domain (\d+)
Value interface_name (\S+)
Value service_instance (\d+)

Start
  ^Bridge-domain\s$bride_domain\s.+
  ^Aging-Timer.* -> Interface

Interface
  ^\s+$interface_name\sservice\sinstance\s$service_instance -> Record
  ^\s+$interface_name\s.*(up|down).* -> Record
  ^\s+MAC.* -> Start
  ^Bridge-domain\s$bride_domain\s.* -> Start


