{% extends 'layout.html' %}
{% block body %}

<div class="row p-4">
    <form class="form-inline" method="POST">
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Fecha Inicial</div>
            </div>
            <input class="form-control" id="date_start" name="date_start" placeholder="Fecha inicial" type="date">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Fecha Final</div>
            </div>
            <input class="form-control" id="date_end" name="date_end" placeholder="Fecha Final" type="date">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">ASN BGP</div>
            </div>
            <input class="form-control" id="asn" placeholder="1" type="text">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Hostname PE</div>
            </div>
            <input class="form-control" id="hostname" placeholder="1" type="text">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">IP Vecino BGP</div>
            </div>
            <input class="form-control" id="ip" placeholder="1" type="text">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Estado BGP</div>
            </div>
            <input class="form-control" id="state" placeholder="1" type="text">
        </div>

    </form>
    <button class="btn btn-primary mb-2" id='request_json'>Vecinos BGP</button>
</div>


<div class="row">
    <div class="col-sm-8">
        <table id="bgp_peers_data" class="table table-bordered table-striped table-hover table-sm table-light">
            <thead class="thead-dark"></thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div id="input" style="width: 100%;"></div>
                <div id="output" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/bgp_peers_list.js') }}"></script>

{% endblock %}