{% extends 'layout.html' %}

{% block body %}
<script src="{{ url_for('static', filename='js/vis.js') }}"></script>
<link href="{{ url_for('static', filename='css/vis.min.css') }}" rel="stylesheet" type="text/css"/>


<div class="row p-4">
    <form id='ospf_form' class="form-inline">
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Fecha</div>
            </div>
            <input class="form-control" id='date' name="date" type="date">
        </div>
        <div class="form-group">
            <label for="saved"></label>
            <select class="form-control" id="network">
                <option value="_ospf_ufinet_regional" selected> MPLS REGIONAL UFINET</option>
                <option value="guatemala"> MPLS GUATEMALA</option>
                <option value="el_salvador"> MPLS El SALVADOR</option>
                <option value="honduras"> MPLS HONDURAS</option>
                <option value="nicaragua"> MPLS NICARAGUA</option>
                <option value="costa_rica"> MPLS COSTARICA</option>
                <option value="panama"> MPLS PANAMA</option>
                <option value="chile"> MPLS CHILE</option>
                <option value="argentina"> MPLS ARGENTINA</option>
            </select>
        </div>
        <div class="form-group">
            <label for="saved"></label>
            <select class="form-control" id="saved">
                <option value="previous" selected> historico</option>
                <option value="actual"> actual</option>
            </select>
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Habilitar TE</div>
            </div>
            <input class="form-control" id='enable_te' type="checkbox">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <button class="btn btn-primary mb-2" id="send_path">Obtner TE</button>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <button class="btn btn-primary mb-2" id="request_json">Enviar</button>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <button class="btn btn-primary mb-2" id="save_xy">save x y</button>
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <button class="btn btn-primary mb-2" id="change_color">Cambiar Esquema de color</button>
        </div>
    </form>

</div>

<style type="text/css">
    #mynetwork {
        width: 100%;
        height: 700px;
        border: 2px solid lightgray;
    }
</style>

<div class="row p-4">
    <div class="col-sm-11">
        <h6>Para ver grafica de interfaces pueden seleccionar interfaz y presionar tecla "i" o "s"</h6>

        <div id="mynetwork"></div>

    </div>
    <div class="col-sm-1">
        <div class="row p-4">
            <div id="title" class="col-sm-12">
                <h1>TE PATH</h1>
            </div>
        </div>
        <div class="row p-4">
            <div id="te_a" class="col-sm-12">

            </div>
        </div>
        <div class="row p-4">
            <div id="te_b" class="col-sm-12">

            </div>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/diagramas.js') }}"></script>
{% endblock %}


