{% extends 'layout.html' %}

{% block body %}
<script src="{{ url_for('static', filename='js/vis.js') }}"></script>
<link href="{{ url_for('static', filename='css/vis.min.css') }}" rel="stylesheet" type="text/css"/>
<style type="text/css">
    #mynetwork {
        width: 100%;
        height: 1300px;
        border: 1px solid lightgray;
    }
</style>
<div class="row p-4">
    <div id="mynetwork"></div>
</div>
<script src="{{ url_for('static', filename='js/diagramas.js') }}"></script>
{% endblock %}


