<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ufinet Netadmin</title>
    <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet">
    <script crossorigin="anonymous"
            src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">UFINET LATAM</a>
    <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarColor01" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   role="button">Reportes</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/reportes/internet/">Percentil ISP</a>
                    <a class="dropdown-item" href="/reportes/internet/actual">Estado Actual ISP</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/reportes/inventario/xr">Inventario Partes XR</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   role="button">Utilidades</a>
                <div class="dropdown-menu">


                    <a class="dropdown-item" href="/utilidades/metodos/cisco">Data Cisco tabulada</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="/diagramas/ospf"
                   role="button">Diagramas Dinamicos</a>
                <div class="dropdown-menu">


                    <a class="dropdown-item" href="/diagramas/ospf">Diagramas OSPF</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="Search" type="text">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<div class="container-fluid ">
{% block body %}

    {% endblock %}
</body>
</div>


</html>