{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <h1>{{titulo}}</h1>
    {% for group , table in tables.items() %}
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped table-hover table-sm table-light">

                <thead class="thead-dark">
                <h2>{{group}}</h2>
                {% for column in table[0].keys() %}
                <th>{{column}}</th>
                {% endfor %}
                </thead>
                <tbody>
                {% for row in table %}
                <tr>
                    {% for key,value in row.items() %}

                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

                <tr>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}