{% extends 'layout.html' %}

{% block body %}

<div class="row p-4">
    <form action="/reportes/internet/" class="form-inline" method="POST">
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Fecha Inicial</div>
            </div>
            <input class="form-control" name="initial_date" placeholder="Fecha inicial" type="date">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Fecha Final</div>
            </div>
            <input class="form-control" name="end_date" placeholder="Fecha Final" type="date">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Percentile</div>
            </div>
            <input class="form-control" name="percentile" placeholder=".95" step="0.01" type="number">
        </div>


        <button class="btn btn-primary mb-2" type="submit">Submit</button>
    </form>
</div>

<h1>{{titulo}}</h1>
{% for group , table in tables.items() %}

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped table-hover table-sm table-light">

            <thead class="thead-dark">
            <h2>{{group}}</h2>
            {% for column in table[0].keys() %}
            <th>{{column}}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for row in table %}
            <tr>
                {% for key,value in row.items() %}

                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <tr>

            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endfor %}


{% endblock %}